header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0099cc;
  background-color: #0099cc;
  background-image: url("../images/header-background.png");
}

