/* Selectors appear in order of when they are introduced in HTML */

/* main-header is the area on the page with the user's avatar details */
.main-header {
  margin-top: 140px;
  width: 45%;
  padding: 2em;
}

.main-header header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FFA69E;
  background-image: url("../images/header-background.png");
}

.main-header h2 {
  color: whitesmoke;
  font-weight: 300;
}

.main-header h2 strong {
  font-weight: 600;
}
