/* Styles are laid out based on how they appear in HTML  */

.new-tweet{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

form > label {
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  height: 1.5em;
  font-size: 1em;
  border-bottom: 4px solid black;
  align-self: baseline;
  min-height: 1em;
  overflow-y: auto;
}

textarea:focus {
  outline: none;
}

form > footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

form > footer > button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.red {
  color: red
}

#tweets {
  display: flex;
  flex-direction: column;
  
}

#error{
  display: none;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.individual-tweet {
  padding: 1em;
  margin-top: 1em;
  border: 2px solid black;
}

.individual-tweet:hover {
  box-shadow: 10px 5px 5px #FFA69E;
  transition: 0.5s;
}

.individual-tweet:hover .handle {
  font-weight: 600;
}


.individual-tweet > .tweet-header {
  display: flex;
  justify-content: space-between;
  margin: 1em;

}

.tweet-body {
  margin: 0.5em 0;
}

.individual-tweet > footer {
  border-top: 2px solid #545149;
  margin: 0.5em 0;
  padding: 0.5em 0;
  font-weight: 300;
  font-size: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-icons {
  color: #0040B8;
}

.top-scroller {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  display: none;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  /* border-radius: 50%; */
  /* padding: 0.4rem; */
  /* background: #545149; */
  color: #4056A1;
  line-height: 3rem;
  
  }
   .top-scroller:hover {
      color: #ff7e72;
  }
  .up_arrow{
    transform:rotate(-90deg);
    font-size:4rem;
    align-self: start;
  }